[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-5013/assignment-autotest
[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot/
[submodule "base_external/package/aesd-assignments/assignments-3-and-later-sana-all"]
	path = base_external/package/aesd-assignments/assignments-3-and-later-sana-all
	url = git@github.com:cu-ecen-aeld/assignments-3-and-later-sana-all.git
